sudo: false
language: go
go:
- "1.11.x"
- "1.12.x"
- "1.13.x"
- "1.14.x"
- master

install: true

script:
  - make test -C ./engine
  - make test

notifications:
  email: false

env:
  - GO111MODULE=on
